<h3>Add a movie to the list</h3>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="form-group">
    <%= f.association :movie, collection: Movie.all, prompt: "Choose a movie" %>
  </div>
  <div class="form-group">
    <%= f.input :comment, label: "Comment" %>
  </div>
  <%= f.submit "Add", class: "btn btn-primary" %>
<% end %>
